:root {
    font-size: calc(.5em + 1vw);
    font-family: sans-serif;
}
html, body {
    margin: 0px;
    padding: 0px;
}
.checkbox {
    font-size: .8rem;    
}
.checkbox span {
    color: lightslategray;
}
.c-tabs .pages c-page > * {
    display: block;
}